.navbar-brand img{
    height: 10vh;
    width: 10vw;
}

.car-image-size{
   width: 100%;
   height: 70vh;
}

.jumbotron
{
    background-color: burlywood;
}


.product-image-size{
    width: 20vw;
    height :20vh;
}

.page-footer{
    background-color: darkblue;
    color: #fff;
}

.fa{
       font-size: 2em ! important;
       color: #fff;
       padding: 0.2em;
}